<app-title></app-title>
<div class="form-group">
    <button type="button" class="btn btn-outline-success " routerLink="/order" style="display: inline-block; "><i class="fa fa-plus-square"></i>Create New</button>
  <input type="text" placeholder="Search..." [(ngModel)]="searchText" class="form-control col-md-3 offset-md-7" style="display: inline-block; ">

</div>
<table class="table table-boarderless">
  <thead>
    <tr>
      <th>#Order No</th>
      <th>Customer Name</th>
      <th>Grand Total</th>
      <th>Payment Method</th>
 
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let oi of OrdersItem|paginate: { itemsPerPage: 3, currentPage: p } | filter:searchText">
      <td (click)="uddateOrder(oi.OrderId)">{{oi.OrderNo}}</td>
      <td (click)="uddateOrder(oi.OrderId)">{{oi.CustomaeName}}</td>
      <td (click)="uddateOrder(oi.OrderId)">{{oi.GTotal}}</td>
      <td (click)="uddateOrder(oi.OrderId)">{{oi.PmMethod}}</td>
    </tr>
  </tbody>
</table>
<pagination-controls (pageChange)="p = $event" style="display: inline-block;" class="offset-md-8"></pagination-controls>